<% if notice %>
  <p id="notice" class="alert alert-primary">
    <%= icon('fas', 'info-circle') %>
    <%= notice %>
  </p>
<% end %>

<div class="d-flex justify-content-between align-items-center">
  <% unless params[:months_back].to_i >= @all_transactions.keys.count - 1 %>
    <%= link_to icon('fas', 'arrow-left').html_safe, transactions_path(months_back: (params[:months_back].to_i).clamp(0, @all_transactions.keys.length - 1) + 1), class: 'btn btn-dark align-middle' %>
  <% end %>
  <h1 class="text-center">Transactions for <%= @month %></h1>
  <% unless params[:months_back].to_i <= 0 %>
    <%= link_to icon('fas', 'arrow-right'), transactions_path(months_back: (params[:months_back].to_i).clamp(0, @all_transactions.keys.length - 1) - 1), class: 'btn btn-dark align-middle' %>
  <% end %>
</div>

<p class="badge badge-primary"><%= number_to_currency(@balance, unit: '£') %></p>

<table class="table table-sm">
  <tr>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <% @summary.each do |category_id, sum|  %>
      <tr>
        <td><%= Category.find_by_id(category_id)&.name&.humanize || 'Unclassified' %></td>
        <td><%= number_to_currency(sum, unit: '£') %></td>
      </tr>
  <% end  %>
</table>

<table class="table table-sm table-responsive">
  <thead>
    
      <tr>
        <th class="text-center"><%= icon('fas', 'calendar-alt') %> Date</th>
        <th colspan="2" class="text-center"><%= icon('fas', 'shopping-bag') %> Merchant</th>
        <th class="text-right"><%= icon('fas', 'pound-sign') %> Amount</th>
        <th class="text-center"><%= icon('fas', 'question') %> Category</th>
      </tr>

  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td class="d-flex h-100 align-items-center">
          <p class="fa-layers fa-fw fa-2x mb-0">
            <%= icon('fas', 'calendar') %>
            <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900"><%= transaction.created.strftime('%d') %></span>
          </p>
          <p class="badge badge-dark mb-0"><%= transaction.created.strftime('%H:%M') %></p>
        </td>
        <td class="align-middle"><img style="max-width: 50px;" src="<%= transaction&.merchant&.logo %>"></img></td>
        <td class="align-middle"><%= link_to transaction.name, transaction, class: 'text-body' %></td>
        <td class="align-middle text-right"><%= number_to_currency(transaction.amount, unit: '£') %></td>
        <td class="align-middle">
          <%= form_with(model: transaction) do |f| %>
            <div class="input-group">
              <%= f.select :category_id, Category.all.collect {|c| [ c.name.humanize, c.id ] }, { selected: transaction.category_id, include_blank: true }, { class: 'custom-select' } %>
              <div class="input-group-append">
                <%# <%= f.submit "Submit #{icon('fas', 'edit')}".html_safe, class: 'btn btn-success' %1> %>
                <%= button_tag(type: 'submit', class: "btn btn-success", remote: true) do %>
                   <%= icon('fas', 'edit') %>
                 <% end %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
