<% if notice %><p id="notice" class="alert alert-primary"><%= notice %></p><% end %>

<h1>Transactions for <%= @month %></h1>

<p class="badge badge-primary"><%= number_to_currency(@balance, unit: '£') %></p>

<table class="table table-sm">
  <tr>
    <th>Category</th>
    <th>Amount</th>
  </tr>
  <% @summary.each do |category_id, sum|  %>
      <tr>
        <td><%= Category.find_by_id(category_id)&.name || 'Unclassified' %></td>
        <td><%= number_to_currency(sum, unit: '£') %></td>
      </tr>
  <% end  %>
</table>

<table class="table">
  <thead>
    
      <tr>
        <th>Date</th>
        <th colspan="2" class="text-center">Merchant</th>
        <th>Amount</th>
        <th>Category</th>
      </tr>

  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td class="align-middle"><%= transaction.created.to_formatted_s(:db) %></td>
        <td class="align-middle"><img style="max-width: 50px;" src="<%= transaction&.merchant&.logo %>"></img></td>
        <td class="align-middle"><%= link_to transaction.name, transaction, class: 'text-body' %></td>
        <td class="align-middle text-right"><%= number_to_currency(transaction.amount, unit: '£') %></td>
        <td class="align-middle">
          <%= form_for transaction do |f| %>
            <div class="input-group">
              <%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }, { selected: transaction.category_id, include_blank: true }, { class: 'custom-select' } %>
              <div class="input-group-append">
                <%= f.submit 'Update', class: 'btn btn-success' %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
