<% if notice %><p id="notice" class="alert alert-primary"><%= notice %></p><% end %>

<h1>Transaction Summary</h1>

<%# <p class="badge badge-primary"><%= number_to_currency(@balance, unit: '£') %1></p> %>

<table class="table table-sm">
  
  <tr>
    <th>Category</th>
    <% @transactions_by_month.each do |month, transactions| %>
      <th><%= month %></th>
    <% end %>
  </tr>
  <% @summary.each do |category_id, summary|  %>
    <tr>
      <th><%= Category.find_by_id(category_id)&.name || 'Unclassified' %></td>
      <% @transactions_by_month.each do |month, transactions|  %>
        <td><%= number_to_currency(@summary.dig(category_id, month), unit: '£') %></td>
      <% end  %>
    </tr>
  <% end  %>
  <tr>
    <th>Total</th>
    <% @totals.each do |sum| %>
      <td>
        <%= number_to_currency(sum, unit: '£') %>
      </td>
    <% end %>
  </tr>
</table>

<br>
